div.Note {
    height: 150px;
    width: 150px;
    margin: 2px 0;
    position: absolute;
    cursor: -webkit-grab;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);

    div.Note:active {
        cursor: -webkit-grabbing;
    }

    p {
        font-size: 15px;
        padding: 5px;
        font-family: "Lato", Arial sans-serif;
        word-wrap: break-word;
    }
    p.message{
        font-size: 16px;
        padding: 5px;
    }

    span {
        position: absolute;
        bottom: 2px;
        right: 2px;
        opacity: 0;
        transition: opacity .25s linear;

        button {
            margin: 2px;
        }
    }

    div.radioBox {
        font-size: 10px;
    }

    textarea {
        height: 75%;
        width: 95%;
        background: rgba(255, 255, 255, 1);
    }
}

div.Note:hover {
    z-index: 50;
    span {
        opacity: 1;
    }
}
div.invisible{
   visibility: hidden;
}
