div.Note {
    height: 150px;
    width: 150px;
    background-color: yellow;
    margin: 2px 0;
    position: absolute;
    cursor: -webkit-grab;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);

    div.Note:active {
        cursor: -webkit-grabbing;
    }

    p {
        font-size: 15px;
        padding: 5px;
        font-family: "Shadows Into Light", Arial sans-serif;
    }

    span {
        position: absolute;
        bottom: 2px;
        right: 2px;
        opacity: 0;
        transition: opacity .25s linear;

        button {
            margin: 2px;
        }
    }

    textarea {
        height: 75%;
        background: rgba(255, 255, 255, 0.5);
    }
}

div.Note:hover {
    z-index: 50;
    transform: none;
    span {
        opacity: 1;
    }
}
